@model IEnumerable<Presentation.Models.Citadata>

@{
    ViewData["Title"] = "Citas";
}

<h1>Citas</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>PacienteId</th>
            <th>TecnicoId</th>
            <th>PruebaId</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
@foreach (var c in Model ?? Enumerable.Empty<Presentation.Models.Citadata>())
{
        <tr>
            <td>@c.Id</td>
            <td>@c.PacienteId</td>
            <td>@c.TecnicoId</td>
            <td>@c.PruebaId</td>
            <td>@c.Fecha.ToString("g")</td>
            <td>@c.Estado</td>
            <td> <input type="submit" value="Save" class="btn btn-primary" /></td>
        </tr>
}
    </tbody>
</table>
